
<%= partial 'partials/navbar'%>
<div class="container-fluid p-0">
  <%= partial 'partials/about'%>
  <hr class="m-0">
  <%= partial 'partials/experience'%>
  <hr class="m-0">
  <%= partial 'partials/education'%>
  <hr class="m-0">
  <%= partial 'partials/skills'%>
  <hr class="m-0">
  <%= partial 'partials/interests'%>
  <hr class="m-0">
  <%= partial 'partials/certifications'%>
</div>
